@model Web_Proje_2.Models.HamMadde_SatinAlma

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HamMadde_SatinAlma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Miktar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miktar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calisan.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calisan.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HamMadde.MiktarCins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HamMadde.MiktarCins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiktarCin.MiktarCins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiktarCin.MiktarCins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tedarikci.FirmaAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tedarikci.FirmaAd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
