@model IEnumerable<Web_Proje_2.Models.Bitki>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Renk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BitkiCin.LatinceAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BitkiUretim.BitkiCinsAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Renk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BitkiCin.LatinceAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BitkiUretim.BitkiCinsAd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeriNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.SeriNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeriNo })
        </td>
    </tr>
}

</table>
